* {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  list-style: none; }

*, ::after, ::before {
  box-sizing: content-box; }

.btn-primary {
  --bs-btn-color:aliceblue;
  --bs-btn-bg: #0476D9;
  --bs-btn-border-color: #0476D9;
  --bs-btn-hover-color:aliceblue;
  --bs-btn-hover-bg: #0476D9;
  --bs-btn-hover-border-color: #0476D9;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color:aliceblue;
  --bs-btn-active-bg: #0476D9;
  --bs-btn-active-border-color: #0476D9;
  --bs-btn-active-shadow: inset 0 #0476D9;
  --bs-btn-disabled-color:aliceblue;
  --bs-btn-disabled-bg: #0476D9;
  --bs-btn-disabled-border-color: #0476D9; }

.btn-check:active + .btn:focus, .btn-check:checked + .btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus {
  box-shadow: none; }

.btn-check:focus + .btn, .btn:focus {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: none; }

/* mixin */
/* header */
/*------- grid body--------  */
.gridBody {
  display: grid;
  grid-template-columns: 1fr auto  1fr; }

/* --------grid header-------- */
.gridHeader {
  display: grid;
  grid-template-rows: repeat(5, auto); }

header {
  grid-column: span 3;
  background-color: #102026;
  width: 100%; }
  header a {
    text-decoration: none;
    color: #9e9e9e; }

ul {
  padding: 0; }

/* header superior */
#headerNavSuperior {
  width: 100%;
  height: auto; }

.header__navSuperior {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: none;
  margin: 0; }
  .header__navSuperior__li {
    margin: 0px 15px; }
    .header__navSuperior__li a {
      color: #9e9e9e;
      transition: all 0.5s; }
      .header__navSuperior__li a:hover {
        color: aliceblue; }

/* div h3 */
.header__divSuperior {
  background-color: #F20505;
  width: 100%; }
  .header__divSuperior h3 {
    font-weight: bold;
    line-height: normal;
    padding: 5px;
    margin: auto;
    width: fit-content;
    color: aliceblue;
    font-size: 1em; }

/* header medio */
.gridLogoCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* carrito */ }
  .gridLogoCarrito #iSesion {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .gridLogoCarrito #iSesion .carrito__p {
      color: #9e9e9e;
      font-size: 25px !important;
      margin-top: 4em; }
      .gridLogoCarrito #iSesion .carrito__p:hover {
        color: aliceblue;
        transition: all 700ms; }
  .gridLogoCarrito .headerLogo {
    width: 50%;
    align-self: center; }
    .gridLogoCarrito .headerLogo .header__logo__img {
      max-width: 17em;
      height: auto;
      display: block;
      position: relative;
      left: 11em; }
  .gridLogoCarrito .carrito {
    padding: 50px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-self: start; }
    .gridLogoCarrito .carrito p {
      font-size: 30px;
      margin-right: 20px; }
    .gridLogoCarrito .carrito a {
      color: #9e9e9e;
      transition: all 700ms; }
      .gridLogoCarrito .carrito a:hover {
        color: aliceblue;
        transition: all 700ms; }

.carrito__a i {
  font-size: 3em; }

.carrito__unico__Desglosado {
  position: relative; }
  .carrito__unico__Desglosado__div {
    background-color: white;
    position: absolute;
    z-index: 10; }
    .carrito__unico__Desglosado__div__divHeader h5 {
      color: #1F3441;
      text-align: center;
      padding: 2px;
      font-size: 20px; }
    .carrito__unico__Desglosado__div__divFooter p {
      font-size: 16px !important;
      color: #9e9e9e;
      padding: 5px;
      display: inline-block; }
    .carrito__unico__Desglosado__div__divFooter button {
      font-size: 20px;
      border: 1px solid #F20505;
      border-radius: 40px;
      background-color: #F20505;
      color: aliceblue;
      display: block;
      padding: 10px 30px;
      margin: auto; }
    .carrito__unico__Desglosado__div__divFooter a {
      font-size: 15px;
      display: inline-block !important;
      margin: 0 120px;
      color: #1F3441 !important; }
      .carrito__unico__Desglosado__div__divFooter a i {
        font-size: 15px; }
      .carrito__unico__Desglosado__div__divFooter a:hover {
        color: #0476D9 !important; }
    .carrito__unico__Desglosado__div__divFooter__h4 h4 {
      color: #1F3441;
      padding: 5px;
      display: inline-block; }

/* barra y boton */
.barraBusquedaBoton {
  width: fit-content;
  margin: auto; }
  .barraBusquedaBoton input {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke; }

#busqueda {
  width: 400px;
  height: 50px; }

#enviar {
  width: 100px;
  height: 50px;
  background-color: #0476D9;
  color: aliceblue; }

/* header inferior */
.navbar-nav {
  margin: auto; }
  .navbar-nav .nav-item {
    padding: 10px;
    margin: 0 10px; }
    .navbar-nav .nav-item a {
      color: #9e9e9e;
      transition: all 0.5s; }
      .navbar-nav .nav-item a:hover {
        color: #F20505; }
      .navbar-nav .nav-item a .logoTipo {
        padding: 0px 0px;
        width: 25px;
        display: inline; }

.oculto2 {
  display: none; }

.header__logo__a2 {
  display: none; }

/* -----------@MEDIA header----------- */
@media screen and (max-width: 768px) {
  .header__navSuperiro {
    justify-content: start; }
  .barraborrar {
    display: none; }
  .header__425 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .header__425 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; }
  .gridLogoCarrito {
    justify-content: space-evenly;
    width: 100%; }
  .carrito p {
    display: none; }
  .carrito__p {
    display: none; }
  .gridLogoCarrito .headerLogo .header__logo__img {
    position: static;
    max-width: 12em;
    margin: none; }
  .carrito__a i {
    font-size: 2em;
    text-align: end; }
  .colgate {
    display: none; }
  .oculto2 {
    display: block; }
  .text-bg-dark {
    background-color: #102026 !important; } }

@media screen and (max-width: 420px) {
  .header__logo__a {
    display: none; }
  .header__logo__a2 {
    display: block; } }

@media screen and (max-width: 320px) {
  .gridHeader {
    width: 100%;
    height: fit-content; }
  .header__navSuperiro {
    justify-content: start;
    flex-wrap: nowrap;
    font-size: 0.8em; }
  /* logo @media */
  .gridLogoCarrito .headerLogo .header__logo__img {
    width: 150px;
    padding: 10px; }
  .gridLogoCarrito .headerLogo {
    width: fit-content; }
  /* carrito @media */
  .gridLogoCarrito .carrito {
    padding: 20px 10px 0 0;
    font-size: 0.5em; }
    .gridLogoCarrito .carrito .carrito p {
      display: none; }
  /* barra y boton @media */
  .barraBusquedaBoton {
    width: 320px; }
  .barraBusquedaBoton input {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke;
    width: 320px; }
  #busqueda {
    width: 250px;
    height: 50px;
    font-size: 0.7em;
    margin: 10px 30px; }
  #enviar {
    width: 250px;
    height: 50px;
    background-color: #0476D9;
    color: aliceblue;
    margin: 10px 30px; }
  /* nav inferior @media */
  .header__navInferior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: none; }
  .logoTipo {
    width: 20px;
    padding: 0px 5px; }
  .nav__inferior__li a {
    font-size: 0.9em; }
  .nav__inferior__li {
    margin: 7px; } }

/* -------------footer -------------*/
/* ---------grid footer--------- */
.gridFooter {
  display: grid;
  grid-template-rows: auto 1.5fr auto;
  grid-column: span 3; }

/* articulo informativa  */
.informativa {
  background-color: #102026; }
  .informativa .articulos {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 20px; }

.enviosLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  text-align: center;
  color: aliceblue; }
  .enviosLogo .articulos__img {
    width: 70px;
    margin: auto; }
  .enviosLogo h3 {
    padding: 10px;
    font-size: 15px; }

/* bootstrap */
#carouselExampleCaptions {
  display: none; }

/*articulo termino y copi  */
.informacion {
  background-color: #1F3441; }
  .informacionContenedor {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 5px;
    height: 100%;
    align-content: center; }
    .informacionContenedor .terminos {
      text-align: center;
      padding: 20px 5px;
      font-size: 14px;
      color: #9e9e9e; }
    .informacionContenedor .horarios {
      text-align: center;
      padding: 20px 0px;
      font-size: 14px;
      border-left: 1px;
      color: #9e9e9e;
      border-left-color: #9e9e9e; }
    .informacionContenedor .redesSociales {
      color: #9e9e9e;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 80%; }
      .informacionContenedor .redesSociales img {
        width: 45px;
        padding: 5px;
        transition: all 400ms; }
        .informacionContenedor .redesSociales img:hover {
          transform: scale(1.1); }

/* copyright */
.copy {
  background-color: #102026;
  color: #9e9e9e; }
  .copy p {
    width: fit-content;
    margin: auto; }

/* ----------@media footer---------- */
@media screen and (max-width: 850px) {
  .informativa .articulos {
    display: none; }
  #carouselExampleCaptions {
    display: block;
    margin-top: 10px; }
    #carouselExampleCaptions .carousel-indicators {
      bottom: -20px; }
  .enviosLogo .articulos__img {
    width: 75px; } }

@media screen and (max-width: 500px) {
  .informacionContenedor {
    display: grid;
    grid-template-columns: repeat(2, 50%); }
    .informacionContenedor .terminos {
      display: none; } }

@media screen and (max-width: 320px) {
  .gridFooter {
    width: 320px; }
  .articulos {
    display: flex;
    flex-wrap: wrap; }
  .enviosLogo .articulos__img {
    width: 50px; }
  .articulos li {
    padding: 10px; }
  .informacionContenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .informacionContenedor .terminos {
      display: none; }
  .redesSociales {
    padding: 10px 0; }
  .copy {
    font-size: 0.6em; } }

/* -------------main de home index------------- */
/* -----------gridHome----------- */
.gridFormularioPublicidad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  gap: 10px; }

.gridPLinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px 10px; }

.gridBlog {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px; }

main {
  padding: 0 100px;
  grid-column: span 3; }
  main a {
    text-decoration: none; }

/* formulario */
.formularioUnico {
  padding: 15px;
  border-top: solid 2px #0476D9;
  background-color: whitesmoke; }
  .formularioUnico__div i {
    font-size: 1.8em;
    color: #0476D9; }
  .formularioUnico__div h3 {
    font-size: 15px;
    display: inline-block;
    padding: 10px;
    font-weight: bolder;
    font-size: 1em; }

/* formulario selector --> */
.formularioSelect {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: end;
  align-items: none; }
  .formularioSelect .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    background: whitesmoke;
    overflow: hidden;
    border-radius: 5px;
    margin: 25px 0; }
    .formularioSelect .select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 1em 1em;
      background: #262626;
      cursor: pointer;
      pointer-events: none;
      transition: .25s all ease;
      color: #9e9e9e; }
    .formularioSelect .select label {
      width: 40px;
      height: 50px;
      border-radius: 5px 1px 1px 5px;
      background-color: #0476D9;
      color: whitesmoke;
      text-align: center;
      box-sizing: border-box;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .formularioSelect .select select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 1 solid #262626;
      background: whitesmoke;
      flex: 1;
      padding: 0 .5em;
      color: black;
      cursor: pointer;
      font-size: 1em; }
      .formularioSelect .select select::-ms-expand {
        display: none; }

.select:hover::after {
  color: aliceblue; }

/* boton formulario */
.botonBuscarSuperior a {
  text-decoration: none;
  color: aliceblue;
  background-color: #0476D9;
  width: 88%;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: all 1s; }
  .botonBuscarSuperior a:hover {
    transform: scale(1.1, 1.1); }

/* img publicitario */
.letrasPrductosUno {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px; }
  .letrasPrductosUno h1 {
    color: #F20505; }
  .letrasPrductosUno h3 {
    text-align: center;
    color: aliceblue; }
  .letrasPrductosUno h2 {
    color: #F20505; }

.carousel-item img {
  max-width: 100%;
  max-height: 500px; }

/* nav galeria de producto */
.galeriaProducto__h3 h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
  color: black; }

.productosImg__nav ul {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1em; }
  .productosImg__nav ul li {
    display: inline-block;
    position: relative;
    color: #102026;
    text-decoration: none; }
    .productosImg__nav ul li:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      transition: all .4s; }
    .productosImg__nav ul li:hover:after {
      width: 100%;
      background: #102026; }

/* img producto con enlaces */
.galeriaProducto__links {
  background-color: whitesmoke; }
  .galeriaProducto__links a {
    width: 150px;
    text-align: center;
    margin: auto;
    transition: all 800ms;
    color: black; }
    .galeriaProducto__links a img {
      width: 150px; }
    .galeriaProducto__links a:hover {
      transform: scale(1.2);
      color: #0476D9; }

/* Blog Vanmica */
.blogVanmica__div {
  padding: 30px; }
  .blogVanmica__div h2 {
    text-align: center;
    color: black;
    margin-top: 40px; }

/* articulos blog img */
.card-blog1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none; }
  .card-blog1 .card {
    overflow: hidden; }
    .card-blog1 .card img {
      width: 100%;
      max-height: 266px;
      transition: all 1s; }
      .card-blog1 .card img:hover {
        transform: scale(1.1); }

.publicidadInferior div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-top: solid 1px #102026;
  border-bottom: solid 1px #102026;
  margin: 10px 0;
  padding: 10px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }
  .publicidadInferior div img {
    margin: 0 10px; }

.carrouselProducto {
  display: none !important; }

/* index @media */
@media screen and (max-width: 1024px) {
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 800px) {
  .gridFormularioPublicidad {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    gap: 10px; }
  main {
    padding: 0; } }

@media screen and (max-width: 425px) {
  .carrouselProducto {
    display: block !important;
    margin: 50px 0; }
  .carrouselProducto__img div {
    display: inline-block;
    margin: auto;
    width: 48%; }
    .carrouselProducto__img div a {
      text-align: center;
      display: flex;
      flex-direction: column; }
    .carrouselProducto__img div img {
      display: inline-block;
      margin: auto;
      width: 150px;
      height: 150px; }
  .gridPLinks {
    display: none; } }

@media screen and (max-width: 320px) {
  main {
    padding: 0; }
  .formularioUnico {
    padding: 10px 0; }
  .botonBuscarSuperior {
    width: 88%;
    margin: auto; }
  .botonBuscarSuperior a {
    margin: auto; }
  .publicidadSuperior {
    width: 320px;
    margin: auto; }
  .productosImg__nav ul {
    font-size: 0.8em; }
  .gridPLinks {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    gap: 20px; }
  .galeriaProducto__links {
    width: 100%; }
  .galeriaProducto__links a img {
    width: 290px; }
  .galeriaProducto__links a {
    margin: 0;
    width: fit-content;
    text-align: center; }
  .gridBlog {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px; }
  .divH div h2 a {
    font-size: 0.8em; }
  .publicidadInferior {
    display: none; } }

/* ---------main blog ---------*/
.blog__titulo {
  text-align: center;
  padding: 10px;
  margin: 50px; }

.blog__Div {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  /* boton */ }
  .blog__Div .blog__img {
    order: 2;
    width: fit-content;
    margin: auto; }
    .blog__Div .blog__img img {
      max-width: 100%;
      padding: 3em 0; }
  .blog__Div .blog__subtitulo {
    order: 1; }
    .blog__Div .blog__subtitulo h2 {
      margin: 80px 0 20px 0;
      width: fit-content;
      margin: auto; }
      .blog__Div .blog__subtitulo h2 a {
        color: #0476D9; }
  .blog__Div .blog__pYa {
    order: 3;
    text-align: justify; }
    .blog__Div .blog__pYa div a {
      display: block;
      color: #0476D9;
      font-size: 17px;
      border: 1px solid #0476D9;
      border-radius: 5px;
      padding: 10px;
      width: 90px;
      margin: 10px;
      transition: all 1s; }
      .blog__Div .blog__pYa div a:hover {
        font-size: 20px;
        color: aliceblue;
        z-index: 3;
        background-color: #0476D9; }

/* @media blog */
@media screen and (max-width: 800px) {
  .blog ul {
    width: 100%;
    overflow: hidden; }
  .blog__Div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding: 0; }
  main {
    padding: 0; } }

@media screen and (max-width: 320px) {
  .blog__img a img {
    width: 320px; }
  .blog__titulo {
    margin: 0px; }
  .blog__subtitulo {
    text-align: center; }
    .blog__subtitulo h2 {
      margin: 30px 0 20px 0; }
      .blog__subtitulo h2 a {
        font-size: 0.7em; }
  .blog__pYa div {
    width: 200px;
    margin: auto;
    text-align: center; }
  .blog__pYa p {
    margin: 10px; } }

/*------------- main quienes somos -------------*/
/* Empresa */
.empresaSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: whitesmoke;
  margin: 15px 0;
  align-items: center; }
  .empresaSection .divEmpresa {
    max-width: 50%;
    margin-right: 20px; }
    .empresaSection .divEmpresa h1 {
      text-align: center;
      padding: 30px;
      font-size: 1.9em; }
    .empresaSection .divEmpresa p {
      padding: 10px 10px;
      text-align: justify;
      margin: 0; }

/* Equipo */
.equipoSection {
  margin: 50px 0; }

.divEquipo h3 {
  text-align: center;
  font-size: 30px; }

.equipoArticuloImg {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  background-color: whitesmoke;
  text-align: justify; }
  .equipoArticuloImg img {
    width: 15%;
    padding: 15px;
    margin: auto; }
  .equipoArticuloImg p {
    display: flex;
    align-items: center; }

.segundoE {
  flex-direction: row-reverse; }

/* bootstrap */
#carouselExampleControls {
  display: none; }

@media (max-width: 1024px) {
  .empresaSection {
    flex-wrap: wrap-reverse; }
    .empresaSection .divEmpresa {
      max-width: 100%;
      margin: 0; }
  .equipoArticuloImg {
    display: flex;
    flex-direction: column;
    margin: 50px 0; }
    .equipoArticuloImg img {
      width: 50%;
      height: 50%; }
  .equipoSection ul {
    display: none; }
  /* bootstrap */
  #carouselExampleControls {
    display: block; } }

@media (max-width: 320px) {
  .divEmpresa p {
    padding: 0px 0px;
    font-size: 0.9em; }
  .equipoArticuloImg {
    display: flex;
    flex-direction: column;
    margin: 50px 0; }
    .equipoArticuloImg img {
      width: 150x;
      padding: 10px;
      margin: auto; } }

/* ---------------main carrito--------------- */
.carritoLogo a img {
  width: 200px;
  padding-top: 20px; }

.carrito__article {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carrito__article .carrito__img {
    width: 100%; }
    .carrito__article .carrito__img i {
      width: fit-content;
      margin: auto;
      font-size: 10em;
      display: block; }
  .carrito__article .carrito__h1 {
    font-size: 20px;
    padding: 20px 0; }

.carrito__botton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 60px 0;
  flex-wrap: wrap; }

/* extend */
.botonBase, .botonCarrito a h2, .botonCarritoRojo a h2 {
  display: block;
  font-size: 20px;
  border-radius: 40px;
  padding: 10px 20px;
  width: 300px;
  margin: 10px;
  text-align: center;
  transition: all 1s; }

.botonCarrito a h2 {
  color: #0476D9;
  border: 1px solid #0476D9; }
  .botonCarrito a h2:hover {
    font-size: 25px;
    color: aliceblue;
    background-color: #0476D9; }

.botonCarritoRojo a h2 {
  color: #F20505;
  border: 1px solid #F20505; }
  .botonCarritoRojo a h2:hover {
    font-size: 25px;
    color: aliceblue;
    background-color: #F20505; }

/* carrito @media */
@media screen and (max-width: 320px) {
  .carritoNav {
    flex-wrap: nowrap;
    font-size: 0.7em; }
  .carritoLogo {
    width: fit-content;
    margin: auto; }
  .carritoH2 {
    text-align: center; }
  .carrito__img {
    width: fit-content; }
  .carrito__img img {
    width: 310px;
    padding: 0; }
  .carrito__h1 {
    font-size: 1em;
    text-align: center; }
  .carrito__h3 {
    text-align: center; }
  .carrito__botton {
    flex-direction: column;
    margin: 0px; }
  .botonCarrito a h2 {
    padding: 10px 5px;
    width: 300px;
    margin: 10px 0; }
  .botonCarritoRojo a h2 {
    padding: 10px 5px;
    width: 300px;
    margin: 10px 0;
    color: aliceblue;
    background-color: #F20505; } }

/* -----------main productos----------- */
/* productos seach */
.productos__divForm {
  display: flex;
  flex-direction: row;
  border: 1px #9e9e9e solid;
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  justify-content: center; }
  .productos__divForm h3 {
    color: #0476D9;
    padding: 10px;
    font-size: 25px; }
  .productos__divForm i {
    align-self: center;
    font-size: 2em;
    color: #0476D9; }

/* bootstrap */
.accordion {
  width: 50%;
  margin: auto; }

.accordion-button {
  width: 99%;
  padding: 3px !important; }

.accordion-button:focus {
  z-index: 3;
  border-color: whitesmoke !important;
  outline: 0;
  box-shadow: none !important; }

.accordion-button:not(.collapsed) {
  color: none !important;
  background-color: #102026 !important;
  box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color); }

/* fin bootstrap */
.divForm2__icons {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .divForm2__icons h3 {
    padding: 10px;
    font-size: 15px;
    display: inline-block;
    font-weight: bolder; }
  .divForm2__icons i {
    font-size: 1.5em;
    align-self: center;
    color: #0476D9; }

.selec2 {
  width: 100%; }

.botonBuscarSuperior2 a {
  margin: auto;
  width: 90%; }

/* ----------producto imgs---------- */
/* ----------grid productos -------*/
.gridULContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  background-color: whitesmoke;
  margin-top: 20px; }

.productosP__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 800ms;
  margin: 50px 0; }
  .productosP__article:hover {
    transform: scale(1.2);
    color: #0476D9; }

.productosP__article div img {
  width: 100px; }

.carrouselProducto {
  display: none; }

/* producto @media */
@media screen and (max-width: 425px) {
  .gridULContainer {
    display: none; }
  .accordion {
    width: 98%;
    margin: auto; } }

@media screen and (max-width: 320px) {
  .gridUl {
    display: grid;
    grid-template-columns: 1fr; }
  .productos__divForm {
    flex-direction: column;
    padding: 0px; }
  .productos__divForm img {
    width: 50px;
    margin: auto;
    display: block; }
  .productos__divForm h3 {
    font-size: 1.2em;
    text-align: center; }
  .productos__divForm2 {
    display: none; } }
