/* ---------------main carrito--------------- */
.carritoLogo a img{
    width: 200px;
    padding-top: 20px;
}
.carrito__article{
    display: flex;
    flex-direction: column;
    align-items: center;
    .carrito__img{
        width:100%;
        i{
            width: fit-content;
            margin: auto;
            font-size: 10em;
            display: block;
            }
    }
    .carrito__h1{
        font-size: 20px;
        padding: 20px 0;
    }
}
.carrito__botton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0;
    flex-wrap: wrap;
}
.botonCarrito a h2 {
    display: block;
    color: map-get($backgroud,fondoAC );
    font-size: 20px;
    border: 1px solid map-get($backgroud,fondoAC ) ;
    border-radius: 40px;
    padding: 10px 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: all 1s;
    &:hover{
        font-size:25px;
        color:$clrPrimordial;
        background-color: map-get($backgroud,fondoAC );
    }
}
.botonCarritoRojo a h2{
    display: block;
    color:map-get($backgroud,fondoR );
    font-size: 20px;
    border: 1px solid  map-get($backgroud,fondoR );
    border-radius: 40px;
    padding: 10px 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: all 1s;
    &:hover{
        font-size:25px;
        color:$clrPrimordial;
        background-color:map-get($backgroud,fondoR );
    }
}
/* carrito @media */
@media screen and (max-width:320px) {
    .carritoNav {
        flex-wrap: nowrap;
        font-size: 0.7em;
    }
    .carritoLogo{
        width: fit-content;
        margin: auto;
    }
    .carritoH2{
        text-align: center;
    }
    .carrito__img{
        width: fit-content;
    }
    .carrito__img img{
        width: 310px;
        padding: 0;
    }
    .carrito__h1{
        font-size: 1em;
        text-align: center;
    }
    .carrito__h3{
        text-align: center;
    }
    .carrito__botton{
        flex-direction: column;
        margin: 0px;
    }
    .botonCarrito a h2 {
        padding: 10px 5px;
        width: 300px;
        margin: 10px 0;
    }
    .botonCarritoRojo a h2{
        padding: 10px 5px;
        width: 300px;
        margin: 10px 0;
        color: $clrPrimordial;
        background-color: map-get($backgroud,fondoR ) ;
    }
}