/* -----------main productos----------- */
               /* productos seach */
            .productos__divForm{
                display: flex;
                flex-direction: row;
                border: 1px $clrSecundario solid ;
                border-radius: 5px;
                padding: 10px;
                margin: 30px;
                justify-content: center;
                h3{
                    color: map-get($backgroud,fondoAC );
                    padding: 10px;
                    font-size: 25px;
                }
                i{
                    align-self: center;
                    font-size: 2em;
                    color: map-get($backgroud,fondoAC);
                }
            }
            /* bootstrap */
            .accordion{
                width: 50%;
                margin: auto;
            }
            .accordion-button{
                width:98.3%;
                padding: 5px !important;
            }
            .accordion-button:focus {
                z-index: 3;
                border-color: map-get($backgroud,fondoSmoke ) !important;
                outline: 0;
                box-shadow: none !important;
            }
            .accordion-button:not(.collapsed) {
                color: none !important; 
                background-color:map-get($backgroud,fondoAO ) !important;
                box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
            }
            /* fin bootstrap */
            .divForm2__icons{
                @include flexSimple (flex,row,center);
                h3{
                    padding: 10px;
                    font-size: 15px;
                    display: inline-block;
                    font-weight: bolder;
                }
                i{
                    font-size: 1.5em;
                    align-self: center;
                    color: map-get($backgroud,fondoAC);
                }
            }
            .selec2{
                width: 100%;
            }
            .botonBuscarSuperior2 a{
                margin: auto;
                width: 90%;
            }
            /* ----------producto imgs---------- */
            /* ----------grid productos -------*/
            .gridULContainer{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
                grid-auto-rows: 1fr;
                gap: 10px 10px;
            }
            .productosP__article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                transition: all 800ms;
                margin: 50px 0;
                // &::after{
                //     content: '';
                //     width: 0px;
                //     height: 2px;
                //     display: block;
                //     background:map-get($backgroud,fondoAO );
                //     transition:600ms;
                // }
                &:hover{
                    transform: scale(1.2);
                    color: map-get($backgroud,fondoAC );
                }
            }
            .productosP__article div img{
                width: 100px;
            }
            .carrouselProducto{
                display: none;
            }
            /* producto @media */
@media screen and (max-width:425px) {
    .gridULContainer{
        display: none;
    }
    .accordion{
        width: 98%;
        margin: auto;
    }
}
@media screen and (max-width:320px) {
    .gridUl{
        display: grid;
        grid-template-columns:1fr; 
    }
    .productos__divForm{
        flex-direction: column;
        padding: 0px;
    }
    .productos__divForm img{
        width: 50px;
        margin:auto;
        display: block;
    }
    .productos__divForm h3{
        font-size: 1.2em;
        text-align: center;
    }
    .productos__divForm2{
        display: none;
    }
}