/* -------------main de home index------------- */
/* -----------gridHome----------- */

.gridFormularioPublicidad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;
}
.gridPLinks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px 10px;
}
.gridBlog{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 10px;
}
main{
    padding: 0 100px;
    grid-column: span 3;
    a{
        text-decoration:none;
    }
}

/* formulario */
.formularioUnico{
    padding: 15px;
    border-top:solid 2px map-get($backgroud,fondoAC );
    background-color: map-get($backgroud, fondoSmoke );
    &__div i{
        font-size: 1.8em;
        color:map-get($backgroud,fondoAC );
    }
    &__div h3{
        font-size: 15px;
        display: inline-block;
        padding: 10px;
        font: {
            weight: bolder;
            size: 1em;
        }
    }
}
    /* formulario selector --> */
.formularioSelect {
    @include allFlex (flex,nowrap,column,end,none);
    .select{
        position: relative;
        display: flex;
        width: 100%;
        height: 50px;
        background:map-get($backgroud,fondoSmoke );
        overflow: hidden;
        border-radius: 5px;
        margin: 25px 0;
        &::after{
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 1em 1em;
            background: $clrBlack2;
            cursor:pointer;
            pointer-events:none;
            transition:.25s all ease;
            color: $clrSecundario;
        }
        label {
            width: 40px;
            height: 50px;
            border-radius: 5px 1px 1px 5px;
            background-color: map-get($backgroud,fondoAC);
            color: map-get($backgroud,fondoSmoke );
            text-align: center;
            box-sizing: border-box;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            box-shadow: none;
            border: 1 solid $clrBlack2;
            background:map-get($backgroud,fondoSmoke );
            flex: 1;
            padding: 0 .5em;
            color:$clrblack;
            cursor:pointer;
            font-size: 1em;
            &::-ms-expand {
                display: none;
            }
        }
    }
}
.select:hover::after{
    color: $clrPrimordial;
}

/* boton formulario */
.botonBuscarSuperior a{
    text-decoration: none;
    color: $clrPrimordial;
    background-color:map-get($backgroud,fondoAC );
    width: 88%;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition:all 1s;
    &:hover{
        transform: scale(1.1,1.1);
    }
}
/* img publicitario */
.carousel-item img{
    max-width: 100%;
    height: 450px;
}
/* nav galeria de producto */
.galeriaProducto__h3 h3{
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    color:$clrblack;
}
.productosImg__nav ul {
    margin:50px 0px ;
    @include flexSimple(flex,row,space-evenly);
    list-style:none;
    font-size: 1em;
}
/* img producto con enlaces */
.galeriaProducto__links a{
    width: $px150;
    text-align: center;
    margin: auto;
    transition: all 800ms;
    color: $clrblack;
    & img{
        width:$px150;
    }
    &:hover{
        transform: scale(1.2);
        color: map-get($backgroud,fondoAC);
}
}
/* Blog Vanmica */
.blogVanmica__div {
padding: 30px;
h2{
    text-align: center;
    color:$clrblack;;
    margin-top: 40px;
    }
}
/* articulos blog img */
.card-blog1{
    @include allFlex (flex,wrap,row,space-evenly,none);
    .card {
        overflow:hidden;
        img{
            width: 100%;
            max-height: 266px;
            transition: all 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.publicidadInferior div{
    @include flexSimple (flex,row,space-between);
    width: 100%;
    height: auto;
    border-top: solid 1px map-get($backgroud,fondoAO);
    border-bottom: solid 1px map-get($backgroud,fondoAO);
    margin: 10px 0;
    padding: 10px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    img{
        margin: 0 10px;
    }
}
.carrouselProducto{
    display: none !important;
}
/* index @media */
@media screen and (max-width:800px) {
    .gridFormularioPublicidad{
        display: grid;
        grid-template-columns: 1fr ;
        margin: 10px;
        gap: 10px;
    }
    main{
        padding: 0;
    }
}
@media screen and (max-width: 425px) {
    .carrouselProducto{
        display: block !important;
        margin: 50px 0;
    }
    .carrouselProducto__img  {
        div{
            display: inline-block;
            margin: auto;
            width: 48%;
            a{
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            img{
                display: inline-block;
                margin: auto;
                width:150px;
                height: 150px;
            }
        }
    }
    .gridPLinks{
        display: none;
    }
}
@media screen and (max-width:320px) {
    main{
        padding: 0;
    }
    .formularioUnico{
        padding: 10px 0;
    }
    .botonBuscarSuperior{
        width: 88%;
        margin: auto;
    }
    .botonBuscarSuperior a{
        margin: auto;
    }
    .publicidadSuperior{
        width: 320px;
        margin:auto
    }
    .productosImg__nav ul{
    font-size: 0.8em;
    }
    .gridPLinks{
        grid-template-columns:1fr;
        grid-template-rows: none;
        gap: 20px ;
    }
    .galeriaProducto__links{
        width: 100%;
    }
    .galeriaProducto__links a img{
        width: 290px;
    }
    .galeriaProducto__links a {
        margin: 0;
        width: fit-content;
        text-align: center;
    }
    .gridBlog{
        display: grid;
        grid-template-columns:1fr;
        column-gap: 10px;
    }
    .divH  div h2 a { 
        font-size: 0.8em;
    }
    .publicidadInferior{
        display: none;
    }
}
