.marcas__main{
@include flexSimple(flex,row,space-between);
background-color:map-get($backgroud,fondoSmoke );
padding:10px;
margin: 20px 0;
div{
    padding: 10px;
    h1{
        background-color:map-get($backgroud,fondoAO2 );
            color: $clrPrimordial;
            font-size: 2.5em;
            width: 80%;
            padding: 10px;
        }
        h3{
            color: map-get($backgroud,fondoAO2 );
            font-size: 2.5em !important;
        }
        img{
            display: inline-block;
            width: 400px;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: center;
            gap: 5px;
            img{
                display: inline-block;
                width: 100%;
            }
            :nth-child(7){
                width: 110px;
            }
            :nth-child(5){
                width: 110px;
            }
        }
    }
}



.objetosNeumaticos {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: nowrap;
    & div{
        padding: 20px;
        margin: 30px 0;
        ul :nth-child(5){
            font-size: 12px;
        }
        img{
            width: 220px;
        }
        
        button{
            display: block;
            margin: auto;
            width: 200px;
            background-color: map-get($backgroud,fondoR );
            border: 1px solid map-get($backgroud,fondoR );
            border-radius: 40px;
            color: $clrPrimordial;
            padding: 5px;
        }
    }
    
}

@media screen and (max-width:768px) {
    .marcas__main{
        flex-direction: column;
    }
}