* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style:none;
    
}
*, ::after, ::before {
    box-sizing:content-box;
}
// .bodyColor{
//     background-color:map-get($backgroud,fondoAO ) ;
    
// }