
$clrPrimordial: aliceblue;
$clrSecundario:rgb(158, 158, 158);
$clrblack:rgb(0, 0, 0);
$clrBlack2:#262626;
$backgroud: (
    'fondoAO':#102026,
    'fondoAC':#0476D9,
    'fondoAO2':#1F3441,
    'fondoR':#F20505,
    'fondoSmoke':whitesmoke
);

$px150: 150px;
