 /* all html */
 * {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    list-style:none;
}
/*------- grid body--------  */
.gridBody{
    display: grid;
    grid-template-columns: 1fr auto  1fr;
}
/*  ---------header  ---------*/

/* --------grid header-------- */
*, ::after, ::before {
    box-sizing:content-box;
}
.gridHeader{
    display: grid;
    grid-template-rows: repeat(5,auto);
} 
header{
    grid-column: span 3;
    background-color: #102026;
    width: 100%;
}
header a{
    text-decoration: none;
    color: aliceblue;
}
         /* header superior */
#headerNavSuperior{
width: 100%;
height: auto;
}
ul{
    padding: 0;
}
.header__navSuperiro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    margin: 0;
}
.header__navsuperior__li {
    margin: 0px 15px; 
}
.header__navsuperior__li a{
    color: rgb(158, 158, 158);
    transition: all 0.5s;
}
.header__navsuperior__li a:hover{
    color:aliceblue;
}

           /* div h3 */
.header__divSuperior{
    background-color:#F20505;
    width: 100%;
}
.header__divSuperior h3{
font-weight: bold;
line-height: normal;
padding: 5px;
}
.divSuperior__Titulo{
    margin: auto;
    width:fit-content;
    color: white;
    font-size: 1em;
}
         /* header medio */
             /* logo */
.gridLogoCarrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headerLogo{
    width: 50%;
    align-self: center;
}
.header__logo__img{
    max-width:17em;
    height: auto;
    display: block;
    margin: auto;
    position: relative;
    left: 4em; 
}
/* carrito */
.carrito{
padding:70px 0px;
display:flex;
flex-direction: row;
justify-content: end;
justify-self:start;
}
.carrito p{
font-size: 30px;
margin-right: 20px;
}
.carrito i{
font-size: 3em;
}
.carrito a{
    color:rgb(158, 158, 158);
    transition: all 700ms;
}
.carrito a:hover{
    color: aliceblue;
}
             /* barra y boton */
.barraBusquedaBoton{
    width: fit-content;
    margin: auto;
}
.barraBusquedaBoton input{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 2px;
    margin: 10px;

    background-color: whitesmoke;
}
#busqueda{
    width: 400px;
    height: 50px;
}
#enviar{
    width: 100px;
    height: 50px;
    background-color:#0476D9;
    color: aliceblue;
}
              /* header inferior */
.navbar-nav{
    margin: auto;
}
.nav-item{
    padding: 10px;
    margin: 0 10px;
}
.logoTipo{
    padding: 0px 10px;
    width: 25px;
    display: inline;
}
.nav-item a{
    color:rgb(158, 158, 158) ;
    transition: all 0.5s;
}
.nav-item a:hover{
    color:#F20505;
}
/* -----------@MEDIA header----------- */
/* header superior */
@media screen and (max-width:765px){
    .header__navSuperiro{
        justify-content: start;
    }
    .barraborrar{
        display: none;
    }
    .carrito p{
        display: none;
        }
        .header__logo__img{
            position:static;
            max-width: 12em;
            margin: none;
        }
        .carrito i{
            font-size: 1em;
            text-align: end;
            }
    .header__425{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .gridLogoCarrito{
        justify-content: space-evenly;
        width: 100%;
    }

}
@media screen and (max-width:320px) {
    .gridHeader{
        width:320px;
        height: fit-content;
    }
    .header__navSuperiro{
        justify-content:start;
        flex-wrap: nowrap;
        font-size: 0.8em;
    }
    /* logo @media */
    .header__logo__img{
        width:150px;
        padding: 10px;
    } 
    .headerLogo{
        width:fit-content;
    }
    /* carrito @media */
    .carrito{
        padding:20px 10px 0 0;
        font-size: 0.5em;
    }
    .carrito p{
    display: none;
    }
    .carrito__a img{
        width: 40px;
    }
                 /* barra y boton @media */
.barraBusquedaBoton{
    width: 320px;
}
.barraBusquedaBoton input{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    background-color: whitesmoke;
    width: 320px;
}
#busqueda{
    width: 250px;
    height: 50px;
    font-size: 0.7em;
    margin:  10px 30px;
}
#enviar{
    width: 250px;
    height: 50px;
    background-color:#0476D9;
    color: aliceblue;
    margin: 10px 30px;
}
/* nav inferior @media */
.header__navInferior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.logoTipo{
    width: 20px;
    padding: 0px 5px;
}
.nav__inferior__li a {
font-size: 0.9em;
}
.nav__inferior__li{
    margin: 7px;
}
}
/* -------------footer -------------*/
/* ---------grid footer--------- */
.gridFooter{
    display: grid;
    grid-template-rows: auto 1.5fr auto;
    grid-column: span 3;
}
    /* articulo informativa  */
.articulos{
    display: grid;
    grid-template-columns: repeat(4,25%);
    margin: 20px;
}
.informativa{
    background-color:#102026;
} 

.enviosLogo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 200px;
    text-align: center;
    color: aliceblue;
}

.articulos__img{
    width: 70px;
    margin: auto; 
}
.enviosLogo h3{
    padding: 10px;
    font-size: 15px;
}

    /*articulo termino y copi  */
.informacion{
    background-color: #1F3441;
}
.informacionContenedor{
    display: grid;
    grid-template-columns: repeat(3,33%) ;
    grid-column-gap: 5px;
    height: 100%;
    align-content: center;
}
.terminos{
    text-align:center;
    padding: 20px 5px ;
    font-size: 14px;
    color: rgb(158, 158, 158);
}
.horarios{
    text-align:center;
    padding: 20px 0px ;
    font-size: 14px;
    border-left: 1px;
    color: rgb(158, 158, 158);
    border-left-color: rgb(158, 158, 158);
}
.redesSociales{
    color: rgb(158, 158, 158);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.redesSociales img{
    width: 45px;
    padding: 5px;
    transition: all 400ms;
}
.redesSociales img:hover{
    transform: scale(1.1);
}
.copy{ /* copyright */
    background-color:#102026 ;
    color: rgb(158, 158, 158);
}
.copy p{
    width: fit-content;
    margin: auto;
}
/* bootstrap */
#carouselExampleCaptions{
    display:none;
}
/* ----------@media footer---------- */
@media screen and (max-width:850px){
    .informativa ul{
        display: none;
    }
    #carouselExampleCaptions{
        display:block;
        margin-top: 10px;
    }
    .carousel-indicators {
        bottom:-20px ;
    }
    .articulos__img{
        width: 75px;
    }
}
@media screen and (max-width:320px){
    .gridFooter{
        width: 320px;
    }
    .articulos{
    display: flex;
    flex-wrap: wrap;
    }
    .articulos__img{
        width: 60px;
    }
    .articulos li{
        padding: 10px;
    }
    .informacionContenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .terminos{
        display: none;
    }
    .redesSociales{
        padding: 10px 0;
    }
    .copy{
        font-size: 0.6em;
    }
}


/* -----------gridHome----------- */

.gridFormularioPublicidad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;
}
.gridPLinks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    grid-auto-rows: 1fr;
    gap: 10px 10px;
}
.gridBlog{
    display: grid;
    grid-template-columns: repeat(3,auto);
    column-gap: 10px;
}

/* -------------main de home index------------- */
main{
    padding: 0 100px;
    grid-column: span 3;
}
main   a{
    text-decoration:none;
}
/* formulario */
.formularioUnico{
    padding: 15px;
    border-top:solid 2px #0476D9;
    background-color: whitesmoke;
}
.formularioUnico__div i{
    font-size: 1.5em;
    color: #0476D9;
}
.formularioUnico__div h3{
    font-size: 15px;
}
    /* frmulario selector --> */
.formularioSelect select {
    display: block;
}
/* boton formulario */
.botonBuscarSuperior a{
    text-decoration: none;
    color: aliceblue;
}
.botonBuscarSuperior a img{
    width: 20px;
}
.botonBuscarSuperior a{
    background-color: #0476D9;
    width: 28%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition:all 1s;
}
.botonBuscarSuperior a:hover{
    transform: scale(1.1,1.1);
}

/* img publicitario */
.carousel-item img{
    max-width: 100%;
    height: 450px;
}

/* nav galeria de producto */
.galeriaProducto__h3 h3{
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    color: #0476D9;
}
.productosImg__nav ul {
    margin:50px 0px ;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style:none;
    font-size: 1em;
}

/* img producto con enlaces */
.galeriaProducto__links a{
    width: 150px;
    text-align: center;
    margin: auto;
}
.galeriaProducto__links a img{
    width: 150px;
}
/* Blog Vanmica */
.blogVanmica__div h2{
text-align: center;
color: #0476D9;
margin-top: 40px;
}
.blogVanmica__div {
padding: 30px;
}
/* articulos blog img */
.card-blog1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    overflow:hidden;
}
.card img{
    width: 100%;
    max-height: 266px;
    transition: all 1s;
}
.card img:hover{
    transform: scale(1.1);
}
/* publicidadd inferior */
.publicidadInferior div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-top: solid 1px #102026;
    border-bottom: solid 1px #102026;
    margin: 10px 0;
    padding: 10px 0;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
/* index @media */
@media screen and (max-width:1020px) {
    .gridFormularioPublicidad{
        display: grid;
        grid-template-columns: 1fr ;
        margin: 10px;
        gap: 10px;
    }
    .carousel-item img{
        height: 350px;
    }
}
@media screen and (max-width:320px) {
    main{
        padding: 0;
    }
    .formularioUnico{
        padding: 10px 0;
    }
    .formularioUnico{
        padding: 10px 0;
    } 
    .botonBuscarSuperior{
        width: 50%;
        padding: 15px;
        margin: auto;
    }
    .botonBuscarSuperior a{
        margin: auto;
    }
    .publicidadSuperior{
        width: 320px;
        margin:auto
    }
    .productosImg__nav ul{
    font-size: 0.8em;
    }
    .gridPLinks{
        grid-template-columns:1fr;
        grid-template-rows: none;
        gap: 20px ;
    }
    .galeriaProducto__links{
        width: 100%;
    }
    .galeriaProducto__links a img{
        width: 290px;
    }
    .galeriaProducto__links a {
        margin: 0;
        width: fit-content;
        text-align: center;
    }
    .gridBlog{
        display: grid;
        grid-template-columns:1fr;
        column-gap: 10px;
    }
    .divH  div h2 a { 
        font-size: 0.8em;
    }
    .publicidadInferior{
        display: none;
    }
}
    /* ---------main blog ---------*/
.blog__titulo{
    text-align: center;
    padding: 10px;
    margin: 50px;
}
.blog__Div {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
}
.blog__img{
order: 2;
width: fit-content;
margin: auto;
}
.blog__img img{
    max-width:100%;
    padding:3em 0;
}
.blog__subtitulo{
    order: 1;
}
.blog__subtitulo h2 a{
    color: #0476D9;
}
.blog__subtitulo h2{
    margin: 80px 0 20px 0;
    width: fit-content;
    margin: auto;
}
.blog__pYa{
    order: 3;
    text-align:justify;
}
.blog__pYa div a{
    display: block;
    color: #0476D9;
    font-size: 17px;
    border: 1px solid #0476D9 ;
    border-radius: 5px;
    padding: 10px;
    width: 90px;
    margin: 10px;
    transition: all 1s;
}
.blog__pYa div a:hover{
    font-size: 20px;
    color:aliceblue;
    z-index: 3;
    background-color: #0476D9;
}
/* @media blog */
@media screen and (max-width:800px) {
    .blog__Div {
        min-width: 100%;
    }
    .blog ul{
    width: 90%;
    }
    .blog__Div {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    main{
        padding: 0;
    }
}
@media screen and (max-width:320px) {
    .blog__img a img{
        width: 320px;
}
.blog__titulo{
    margin: 0px;
}
.blog__subtitulo h2{
    margin: 30px 0 20px 0;
}
.blog__subtitulo h2 a{
    font-size: 0.7em;
}
.blog__subtitulo{
    text-align: center;
}
.blog__pYa div{
    width: 200px;
    margin: auto;
    text-align: center;
}
.blog__pYa p{
    margin: 10px;
}
}


/*------------- main quienes somos -------------*/
/* -------------mediaqueris------------- */

/* Empresa */
.empresaSection {
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: whitesmoke;
    margin: 15px 0;
    align-items: center;
}
.divEmpresa{
    max-width: 50%;
    margin-right: 20px;
}
.divEmpresa h3{
    text-align: center;
    padding: 30px;
    font-size: 1.9em;
}
.divEmpresa p{
    padding: 10px 10px;
    text-align:justify;
    margin: 0;
}
/* Equipo */
.equipoSection{
    margin: 50px 0;
}
.divEquipo h3{
    text-align: center;
    font-size: 30px;
}
.equipoArticuloImg{
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    background-color:whitesmoke;
    text-align:justify;
}
.equipoArticuloImg img{
    width: 15%;
    padding: 15px;
    margin: auto;
} 
.segundoE{
    flex-direction: row-reverse;
}
/* bootstrap */
#carouselExampleControls{
    display: none;
}
@media (max-width : 1024px) {
    .empresaSection{
        flex-wrap: wrap-reverse;
}
.divEmpresa{
    max-width: 100%;
    margin: 0;
}
.equipoArticuloImg{
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}
.equipoArticuloImg img{
    width: 50%;
    height: 50%;
} 
.equipoSection ul{
    display: none;
}
/* bootstrap */
#carouselExampleControls{
    display: block;
}
}
@media (max-width:320px) {
    .divEmpresa p{
        padding: 0px 0px;
        font-size: 0.9em;
    }
    .equipoArticuloImg{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .equipoArticuloImg img{
        width: 150x;
        padding: 10px;
        margin: auto;
    }
}
/* ---------------main carrito--------------- */
.carrito__article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carritoLogo a img{
    width: 200px;
    padding-top: 20px;
}
.carrito__img{
    width:100%;
}
.carrito__img i{
width: fit-content;
margin: auto;
font-size: 10em;
display: block;
}
.carrito__h1{
    font-size: 20px;
    padding: 20px 0;
}
.carrito__botton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 60px 0;
    flex-wrap: wrap;
}
.botonCarrito a h2 {
    display: block;
    color: #0476D9;
    font-size: 20px;
    border: 1px solid #0476D9 ;
    border-radius: 40px;
    padding: 10px 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: all 1s;
}
.botonCarrito a h2:hover{
    font-size:25px;
    color:aliceblue;
    background-color: #0476D9;
}
.botonCarritoRojo a h2{
    display: block;
    color:#F20505;
    font-size: 20px;
    border: 1px solid #F20505 ;
    border-radius: 40px;
    padding: 10px 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    transition: all 1s;
}
.botonCarritoRojo a h2:hover{
    font-size:25px;
    color:aliceblue;
    background-color:#F20505;
}
/* carrito @media */
@media screen and (max-width:320px) {
    .carritoNav {
        flex-wrap: nowrap;
        font-size: 0.7em;
    }
    .carritoLogo{
        width: fit-content;
        margin: auto;
    }
    .carritoH2{
        text-align: center;
    }
    .carrito__img{
        width: fit-content;
    }
    .carrito__img img{
        width: 310px;
        padding: 0;
    }
    .carrito__h1{
        font-size: 1em;
        text-align: center;
    }
    .carrito__h3{
        text-align: center;
    }
    .carrito__botton{
        flex-direction: column;
        margin: 0px;
    }
    .botonCarrito a h2 {
        padding: 10px 5px;
        width: 300px;
        margin: 10px 0;
    }
    .botonCarritoRojo a h2{
        padding: 10px 5px;
        width: 300px;
        margin: 10px 0;
        color: aliceblue;
        background-color: #F20505 ;
    }
}
/* -----------main productos----------- */
               /* productos seach */
.productos__divForm{
    display: flex;
    flex-direction: row;
    border: 1px rgb(128, 128, 128) solid ;
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    justify-content: center;
}
.productos__divForm img{
    width: 50px;
    margin: 0px 20px 20px 10px;
    
}
.productos__divForm h3{
    color: #0476D9;
    padding: 10px;
    font-size: 25px;
}

.productos__divForm2{
    display: flex;
    flex-direction: row;
    border: 1px rgb(128, 128, 128) solid ;
    border-radius: 5px;
    padding: 3 0px 20px 20px 20px;
    margin: 30px;
    justify-content: center;
    width: fit-content;
}
.productos__divForm2 img{
    width: 50px;
    margin: 10px 20px 20px 10px;
}
.productos__divForm2 a{
    margin: 0 30px;
}
.productos__divForm2 a img{
    margin: 10px;
}
.productos__divForm2 h3{
    padding: 10px;
    font-size: 15px;
}

/* ----------producto imgs---------- */
/* ----------grid productos -------*/
/* animacion border botton-left */
.productosP__article {
    display: inline-block;
}
.productosP__article::after{
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background:#102026;
    transition:600ms;
}
.productosP__article:hover::after {
    width: 100%;
}
.gridULContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
        grid-auto-rows: 1fr;
        gap: 10px 10px;
}
.productosP__article div img{
    width: 100px;
}
.productosP__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* producto @media */
@media screen and (max-width:320px) {
    .gridUl{
        display: grid;
        grid-template-columns:1fr; 
    }
    .productos__divForm{
        flex-direction: column;
        padding: 0px;
    }
    .productos__divForm img{
        width: 50px;
        margin:auto;
        display: block;
    }
    .productos__divForm h3{
        font-size: 1.2em;
        text-align: center;
    }
    .selec2 {
        display: none;
    }
    .productos__divForm2{
        display: none;
    }
}

